<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_outward" />
<div class="ajustado-navegacion">
    <div class="logo">
        <mat-icon class="icono">arrow_outward</mat-icon>
    </div>
    <div class="menu-logo">
        <h3>INALTERA</h3>
        Tu solución NO-VERI*FACTU
    </div>
    <span class="espaciado"></span>
    <button mat-button class="boton-claro boton" routerLink="/auth">Iniciar Sesión</button>
    <button mat-button class="boton-comun boton" routerLink="/auth">Empezar Gratis! <mat-icon class="mini-icono icono">arrow_right</mat-icon></button>
</div>
