.espaciado{
    flex:1 1 auto;
}
.menu-logo{
    font-size:12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    margin-left:0.3rem;
}
.menu-logo h3{
    margin:0;
    margin-bottom: -3px;
    color:black;
    font-weight: bold;
    letter-spacing: 1px;
}
.boton{
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition:0.2s;
    margin:5px;
    
}
.logo{
    margin-left:2rem;
    width:100%;
    background-color: rgba(0, 123, 255, 1);
    width:3rem;
    height:3rem;
    color:rgb(249, 249, 249);
    margin-right:1rem;
    border-radius:5px;
    overflow: hidden;
}
.icono{
    position:relative;
    top:5px;
    left:5px;
    width:4rem;
    height:4rem;
    font-size:40px;   
}
.boton-con-icono {
    color:rgb(249, 249, 249);
    background-color: rgba(0, 123, 255, 1);
    margin-left:1rem;
    border-radius:5px;
    width:1.5rem;
    height:2.5rem;
}
.boton-comun {
    background-color: rgba(0, 123, 255, 1);
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-claro {
    background-color: rgb(255, 255, 255);
    --mdc-text-button-label-text-color: rgb(43, 42, 42);
    padding:20px;
}

.boton-claro:hover {
    transition:0.2s;
    background-color: rgba(192, 221, 252, 0.3);
    color: rgba(0, 123, 255, 1);
}

.ajustado-navegacion {
    background-color: rgba(255, 255, 255, 0.86);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(216, 216, 216);
    
    min-height:5rem;
    font-size: 12px;
    letter-spacing: -1px;
    display:flex;
    align-items: center;
}