@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.ajustado-pagina{
    background-color: rgb(241, 241, 241);
}

.navegacion{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

.contenido{
    font-family: "Roboto";
    margin-top:5rem;
}
.presentacion{
    padding-top:0.5rem;
}
.zona{
    margin-bottom:10rem;
}
.caja{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:3rem;
}
.lucide{
    color:rgb(0, 198, 0);
    width:10%;
    margin:5px;
}

.pop-icono{
    display: flex;
    align-items: center;
    color:gray;
    justify-content: center;
}
.titulos{
    display:flex;
    flex-direction: column;
}
.titulos-subtitulo{
    flex-direction: column;
}
.titulos h1, .titulos-subtitulo h1{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.titulos h4, .titulos-subtitulo h4{
    color:rgb(90, 90, 90);
}
.flex-objetos{
    display:flex;
}
.flex-funcionamiento{
    flex-direction: column;
}
a{
    text-decoration: none;
    color:rgba(0, 123, 255, 1);
}
.numeracion{
    background-color: rgba(0, 123, 255, 1);
    color:white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    padding:5px;
    width:3rem;
    height:3rem;
    text-align: center;
    line-height: 3rem;
}
.azul{
    font-style:normal;
    color: rgba(0, 123, 255, 1);
}
.grid{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:1.5rem;
}
.pop{
    background-color: rgba(167, 226, 255, 0.236);
    color:rgba(0, 123, 255, 1);
    font-weight: 500;
    border-radius: 20px;
    padding:5px;
    text-align: center;
    align-items: center;
}
.bolt{
    height:1rem;
}
.texto{
    text-align: center;
    font-size: 16px;
    color:gray;
}
.parte{
    margin:0.5rem;
    margin-left:2rem;
}
.grid-titulo{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-texto{
    font-size: 15px;
    color:rgb(105, 105, 105);
}
.grid-icono{
    color:rgba(0, 123, 255, 1);
}
.caja-icono{
    transition:0.2s;
    background-color: rgba(156, 214, 255, 0.397);
    margin-left:2rem;
    width:2rem;
    height:2rem;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.273);
    display: flex;
    align-items: center;
    justify-content: center;
}
.objeto-grid{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.196);
    border-radius: 1rem;
    min-height:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
}
.objeto-grid:hover > .caja-icono{
    transition:0.2s;
    background-color: rgba(107, 168, 255, 0.452);
}
.boton{
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition:0.2s;
    margin:5px;
    
}
.icono{
    width: 20px;
    margin:0;
    padding: 0;
}
.boton-con-icono {
    color:rgb(249, 249, 249);
    background-color: rgba(0, 123, 255, 1);
    margin-left:1rem;
    border-radius:5px;
}
.boton-comun {
    background-color: rgba(0, 123, 255, 1);
    padding:20px;
}

.boton-claro {
    background-color: rgb(255, 255, 255);
    --mdc-text-button-label-text-color: rgb(43, 42, 42);
    padding:20px;
    border:1px solid rgb(225, 225, 225);
}

.boton-claro:hover {
    transition:0.2s;
    background-color: rgba(192, 221, 252, 0.3);
    color: rgba(0, 123, 255, 1);
}

.extra{
    background-color: rgb(29, 33, 43);
    color:white;
    align-content: center;
    padding:2rem;
    min-height:300px;
}
.extra h1{
    font-weight: bold;
    text-align: center;
    font-size:30px;
}
.extra p {
    color:gray;
    font-size:16px;
    text-align: center;
}
.extra div{
    display: flex;
    justify-content: center;
}
.extra button{
    padding:0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 10px;
    background-color: white;
    color:rgba(0, 123, 255, 1);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:800px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .objeto-grid{
        width:100%;
    }
    .flex-objetos{
        flex-direction: column;
    }
}