
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.grid label {
    display: block;
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
}
.input{
    background-color: #eee !important;
    cursor: not-allowed;
    font-weight: 700;
}
.boton-envio {
    transition:0.3s;
    margin-top:1rem;
    width:100%;
    height:40px;
    font-weight: 600;
    border:2px solid rgba(0, 123, 255, 1);
    border-radius:5px;
    cursor:pointer;
}
.cuadro{
    width:100%;
    height:32px;
    border:1px solid #dddddd;
    border-radius: 4px;
    padding:0 8px;
}

.boton-envio:hover{
    transition:0.3s;
    backdrop-filter: blur(10px);
}


.progress-bar-container {
    width: 100%;
    height: 100px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar-fill {
    height: 100%;
    transition: width 0.8s ease-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
