<div class="zona-filtraje">
    <h1><mat-icon>filter_alt</mat-icon>Filtros de búsqueda</h1>
    <h3>Busca por contenido o filtra</h3>
    <div class="grade filter-container">
        <div class="elemento texto search-box">
            <mat-icon>search</mat-icon>
            <input type="text" 
                placeholder="Buscar por número o cliente"
                [(ngModel)]="textoBusqueda"
                (input)="aplicarFiltros()"
                title="Nombre / NIF / Numero / Serie"/>
        </div>
        <div class="date-filters">
            <div class="elemento data date-input" >
                <label>Desde:</label>
                <input type="date" [(ngModel)]="fechaDesde" (change)="aplicarFiltros()" matInput placeholder="Desde">
            </div>

            <div class="elemento data date-input">
                <label>Hasta:</label>
                <input type="date" [(ngModel)]="fechaHasta" (change)="aplicarFiltros()" matInput placeholder="Hasta"/>
            </div>
        </div>
    </div>
    <div>
        <button class="btn-clear" (click)="limpiarFiltros()">
            <mat-icon>filter_list_off</mat-icon>
        </button>
    </div>

    <div class="header-registro">
        <h1>Mis Facturas</h1>
        <app-uso-seguridad tipo="banner"></app-uso-seguridad>
    </div>

    <!-- <div class="contenedor-registro">
  
        <div class="blockchain-status-banner" [ngClass]="{'safe': cadenaIntegra, 'danger': !cadenaIntegra}">
            <div class="status-content">
                <mat-icon *ngIf="auditando" class="spin">sync</mat-icon>
                <mat-icon *ngIf="!auditando && cadenaIntegra">verified_user</mat-icon>
                <mat-icon *ngIf="!auditando && !cadenaIntegra">gpp_maybe</mat-icon>
            
                <div class="status-text">
                    <h4 *ngIf="auditando">Verificando integridad de tus datos...</h4>
                    <h4 *ngIf="!auditando && cadenaIntegra">Historial Protegido por Blockchain</h4>
                    <h4 *ngIf="!auditando && !cadenaIntegra">¡Alerta de Seguridad! Inconsistencia detectada</h4>
                    <p>{{ !cadenaIntegra ? 'Tus facturas muestran una alteración. Contacta a soporte.' : 'Tus registros son inmutables y están verificados.' }}</p>
                </div>
            </div>
            <div class="mini-eye" *ngIf="!cadenaIntegra">
                <div class="pulsing-red-dot"></div>
            </div>
        </div>
        <table> ... </table>
    </div>
    <button (click)="verificarSeguridad()">TESTANDOooo</button> -->
</div>

<div class="contenido">
    <h1></h1>
    <p></p>
    <table class="tabela" >
        <tr>
            <th>Fecha Emisión</th>
            <th>Tipo</th>
            <th>Serie</th>
            <th>Número</th>
            <th>NIF</th>
            <th>Cliente</th>
            <th>Total (€)</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        @for(factura of facturasFiltradas; track factura){
            <tr>
                
                    <td>{{factura.fecha_emision}}</td>
                    <td>{{factura.tipo_factura}}</td>
                    <td>{{factura.serie}}</td>
                    <td>{{factura.numero}}</td>
                    <td>{{factura.cliente.nif}}</td>
                    <td>{{factura.cliente.nombre}}</td>
                    <td>{{factura.importe_total}}</td>
                    <td>{{factura.estado}}</td>
                    <td class="espacio-boton">
                        <button class="funciones" title="Descargar PDF">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text w-5 h-5"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                        </button>
                        <button class="funciones" title="Descargar XML" (click)="downloadXML(factura.id_factura)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-code w-4 h-4"><path d="M10 12.5 8 15l2 2.5"></path><path d="m14 12.5 2 2.5-2 2.5"></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7z"></path></svg>
                        </button>
                        <button class="funciones" title="Descargar Todo">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download w-4 h-4"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" x2="12" y1="15" y2="3"></line></svg>
                        </button>
                    </td>
                
            </tr>
        }
    </table>
</div>
