.cabecera{
    margin-bottom:2rem;
}
.cabecera h1{
    font-weight: 700;
}
.cabecera h3 {
    font-weight:400;
    color:rgb(128, 128, 128);
}
.menu{
    display:flex;
    background-color: white;
    gap:10px;
    padding:5px;
}
.menu div{
    border:1px solid rgb(225, 225, 225);
    border-radius:5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.125);
    text-align: center;
    width:50%;
}
.activo{
    background-color: rgba(0, 123, 255, 1);
    color:white;
}

/*Contenido ============================================*/

.contenido {
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}
.tabela {
    width:100%;
    border-spacing: 0;
    border-radius: 5px;
}
th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-left: 0;
    border-right: 0;
    overflow: hidden;
    color:rgb(145, 145, 145);
    font-weight: 500;
    padding:0.5rem;
}

th:first-child{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: gray;
    border-radius: 5px 0px 0px 0px; 
}

th:last-child{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: gray;
    border-radius: 0px 5px 0px 0px; 
}


