.cabecera{
    margin-bottom:2rem;
}
.cabecera h1{
    font-weight: 700;
}
.cabecera h3 {
    font-weight:400;
    color:rgb(128, 128, 128);
}
.menu{
    display:flex;
    background-color: white;
    gap:10px;
    padding:5px;
}
.menu div{
    border:1px solid rgb(225, 225, 225);
    border-radius:5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.125);
    text-align: center;
    width:50%;
}
.activo{
    background-color: rgba(0, 123, 255, 1);
    color:white;
}
.contenido {
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}
.tabela {
    width:100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
}
th{
    border:2px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 123, 255, 1);
    color:white;
    text-shadow: 1px 1px 2px black;
}