<div class="ajustado-pagina">
    <div class="complemento-visual">
        <div class="logotipo">
            <div class="logo">
                <mat-icon class="icono">arrow_outward</mat-icon>
            </div>
            <div class="menu-logo">
                <h3>INALTERA</h3>
                Tu solución NO-VERI*FACTU
            </div>
        </div>
        <div class="titulos">
            <h1>Cumplimento fiscal</h1>
            <h2>sin complicaciones</h2>
        </div>
        <div class="texto">
            INALTERA automatiza el sellado y registro de tus facturas, garantizando el cumplimiento con la normativa VERI**FACTU.
        </div>
        <div class="lista">
            <ul>
                <li>Sellado criptográfico automático</li>
                <li>Registro inmutable de facturas</li>
                <li>Generación de códigos QR verificables</li>
                <li>Cumplimiento normativo garantizado</li>
            </ul>
            <p>&copy; 2026 INALTERA. Todos los derechos reservados.</p>
        </div>
    </div>
    <div class="auth">
        <div class="container-auth">
            <div class="menu-auth">
                <div class="logotipo visible">
                    <div class="logo">
                        <mat-icon class="icono">arrow_outward</mat-icon>
                    </div>
                    <div class="menu-logo">
                        <h3>INALTERA</h3>
                        Tu solución NO-VERI*FACTU
                    </div>
                </div>
                <div class="botones">
                    <button mat-button routerLinkActive="activo" routerLink="login">Iniciar Sesión</button>
                    <button mat-button routerLinkActive="activo" routerLink="registerUser">Registrarse</button>
                </div>
            </div>
            <div class="caja">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
