.ajustado-pagina{
    background-color: rgb(245, 245, 245);
    height:100%;
    display: flex;
}
.complemento-visual{
    width:45%;
    padding:3rem;
    background-color: rgb(29, 33, 43);
    color:rgb(195, 195, 195);
}

.complemento-visual div .menu-logo h3{
    color:white;
}
.titulos{
    margin-top:4.5rem;
}

.titulos h1, .titulos h2{
    font-size: 45px;
    font-weight: bold;
}
.titulos h1{
    color:white;
}
.titulos h2{
    color:rgba(0, 123, 255, 1);
}
.texto{
    font-size:18px;
    margin-top:3rem;
}
.lista{
    margin-top:6rem;
    
}
.lista li{
    font-size:16px;
    margin-top:1.5rem;
}
.lista li::marker{
    font-size: 30px;
    color:rgba(0, 123, 255, 1);
}
.auth{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:55%;
}
.container-auth{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-auth{
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 448px;
    width: 100%;
    margin-bottom:1.5rem;
}
.logotipo{
    display: flex;
    width:100%;
}
.visible{
    visibility: hidden;
    display:none;
}
.logo{
    width:100%;
    background-color: rgba(0, 123, 255, 1);
    width:3.5rem;
    height:3.5rem;
    color:rgb(249, 249, 249);
    margin-right:1rem;
    border-radius:5px;
    overflow: hidden;
}
.menu-logo{
    font-size:12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    margin-left:0.3rem;
}
.menu-logo h3{
    margin:0;
    margin-bottom: -3px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.icono {
    position:relative;
    top:8px;
    left:8px;
    width:4rem;
    height:4rem;
    font-size:40px;   
}

.botones{
    background-color: rgb(240, 240, 240);
    display: flex;
    border-radius:5px;
    gap:3rem;
    margin-top:1.5rem;
    padding:10px;
}
.botones button{
    color:black;
    width:50%;
}

.botones .activo{
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.152);
}

.caja{
    max-width: 448px;
    width:100%;
    background-color: white;
    border-radius:10px;
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.141);
}
form{
    padding:2rem;
}
p{
    color:rgb(88, 88, 88);
}
.elemento-formulario{
    margin-top:1.5rem;
}
.lugar-datos{
    background-color:rgb(239, 239, 239);
    border:1px solid rgb(177, 177, 177);
    display:flex;
    align-items: center;
    min-height:40px;
    padding:2px;
    border-radius:5px;
}
input{
    background-color: rgb(239, 239, 239);
    border:none;
    margin-left:0.3rem;
    width:90%;
    height:30px;
}
.boton-envio {
    margin-top:1rem;
    width:100%;
    height:40px;
    background-color:rgba(0, 123, 255, 1);
    color:white;
    font-weight: 600;
    border:2px solid rgba(0, 123, 255, 1);
    border-radius:5px;
}

@media (max-width: 980px) {
    .visible{
        visibility: visible;
        display:flex;
    }
    .complemento-visual{
        visibility: hidden;
        display: none !important;
    }
    .auth{
        width:100%;
    }
}