<div>
    <div class="cabecera">
        <h1>Facturación y Carga</h1>
        <h3>Crea nuevas facturas o sube PDFs para sellar</h3>

        <div class="menu">
            <div routerLinkActive="activo" routerLink="facturacion"><mat-icon>receipt</mat-icon>Elaborar Factura</div>
            <div routerLinkActive="activo" routerLink="cargarFactura"><mat-icon>upload</mat-icon>Cargar</div>
        </div>
    </div>
    <div class="contenido">
        <router-outlet></router-outlet>
    </div>
</div>


<div *ngIf="!esVerificado()" class="alerta-bloqueo">
        <mat-icon class="warning-ico">warning</mat-icon>
        <p>Para mayor seguridad debes verificar tu correo antes de empezar a trabajar con INALTERA</p>
</div>