.cabecera{
    margin-bottom:2rem;
}
.cabecera h1{
    font-weight: 700;
}
.cabecera h3 {
    font-weight:400;
    color:rgb(128, 128, 128);
}
.menu{
    display:flex;
    background-color: white;
    gap:10px;
    padding:5px;
}
.menu div{
    border:1px solid rgb(225, 225, 225);
    border-radius:5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.125);
    text-align: center;
    width:50%;
}
.activo{
    background-color: rgba(0, 123, 255, 1);
    color:white;
}
.close{
    width:1.5rem;
    height:1.5rem;
    display: flex;
    border-radius:5px;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(225, 225, 225);
    background-color: rgb(245, 245, 245);
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.237);
    
    
    
}
.close mat-icon{
    width:1.5rem;
    height:1.5rem;
    font-size:15px;
}
input, textarea, select{
    border:1px solid rgb(225, 225, 225);
    background-color: rgb(245, 245, 245);
}
input, select{
    height:30px;
    border-radius:5px;
}
.contenido{
    padding:2rem;
    overflow: hidden;
    border-radius:10px;
    background-color:white;
    border:1px solid rgb(209, 209, 209);
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.134);
}
.contenido h1 {
    font-weight: 500;
}
.contenido p {
    color:rgb(113, 113, 113);
}
.titulo-concepto{
    display:flex;
    align-items: center;
}
.titulo-concepto label{
    width:75%;
}
.separado{
    margin-top:3rem;
}
.boton-concepto{
    position:relative;
    display:flex;
    align-items: center;
    padding:0.2rem;
    height:40px;
    cursor:pointer;
    background-color: rgb(245, 245, 245);
    border-radius:5px;
    border:1px solid rgb(225, 225, 225);
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.095);
}
.concepto{
    min-width:30%;
}
label {
    font-weight: 500;
}
.label-pequena{
    color:gray;
    font-size:13px;
}
.cuadro-valores{
    background-color: rgb(235, 235, 235);
    padding:1.5rem;
    border-radius:10px;
    margin-top:1rem;
}
textarea{
    width:99%;
    min-height:100px;
    border-radius:10px;
}
.valores{
    display:flex;
}
.valor-nombre{
    width:100px;
}
.total{
    font-size:20px;
    font-weight: 500;
}
.valor {
    margin-left:85%;
}

@media(max-width:695px) {
    .cabecera{
        margin-top:5rem;
        margin-left:2rem;
        margin-right:2rem;
    }
    .titulo-concepto label{
        width:40%;
        font-size:12px;
    }
    .boton-concepto{
        font-size:12px;
        height:30px;
    }
    .boton-concepto mat-icon{
        font-size:15px;
    }
}