@keyframes fadeIn {
    from {opacity:0;}
    to {opacity: 1;}
}


.ajustado-pagina{
    margin:0;
    height:100%;
    display:flex;
    width: 100%;
}

.activar-barra{
    visibility: hidden;
    height:0;
    width:0;
}
.boton-activar{
    background-color: rgb(255, 255, 255);
    color:rgba(0, 123, 255, 1);
    z-index:91 ;
}
.barra-lateral{
    /*background-color: rgb(29, 33, 43);*/
    background-image: linear-gradient(rgb(29, 33, 43)), url('/assets/texture.jpg');
    background-size: contain;
    background-blend-mode: multiply;
    transition: linear 0.2s;
    min-width: 10%;
    width: 25%;
    max-width: 25%;
    padding:1.5rem;
    overflow:hidden;
}
.logotipo{
    display: flex;
    width:100%;
}
.logo{
    width:100%;
    background-color: rgba(0, 123, 255, 1);
    width:3.5rem;
    height:3.5rem;
    color:rgb(249, 249, 249);
    margin-right:1rem;
    border-radius:5px;
    overflow: hidden;
}
.menu-logo{
    font-size:12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    margin-left:0.3rem;
}
.menu-logo h3{
    margin:0;
    margin-bottom: -3px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.icono {
    position:relative;
    top:8px;
    left:8px;
    width:4rem;
    height:4rem;
    font-size:40px;   
}
.lista-enlaces{
    margin-top:2rem;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
.objeto-enlace{
    display:flex;
    transition:0.2s;
    margin-bottom: 1rem;
    color:rgb(201, 201, 201);
    list-style: none;
    height:40px;
    left:-10px;
    padding:10px;
    border-radius:5px;
}
.activo{
    background-color:rgba(0, 123, 255, 1);
    color:white;
}
.activo:hover{
    background-color: rgba(0, 123, 255, 1) !important;
}
.objeto-enlace:hover{
    transition:0.2s;
    background-color:rgb(43, 59, 73);
    cursor:pointer;
}
.icono-enlace{
    margin-right:12px;
    color:white;
}
.nombre-enlace{
    font-size:15px;
    font-weight: 500;
}
.descripcion-enlace{
    font-size:12px;
}
.contenido{
    background-color:rgb(235, 235, 235);
    width:100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.contenedor-contenido{
    padding:2.5rem;
}
.pie-barra{
    position:relative;
    top:45%;
    color:rgb(180, 180, 180);
}
.pie-barra hr{
    margin-bottom:1.5rem;
}
.pie-barra .correo-usuario{
    color:white;
}
.pie-barra .logout{
    transition:0.2s;
    margin-top:2rem;
    color:rgb(180, 180, 180);
    background-color:rgb(29, 33, 43);
    border:none;
    display:flex;
    align-items: center;
    height:35px;
    border-radius:5px;
}
.pie-barra .logout:hover{
    transition:0.2s;
    background-color:rgb(43, 59, 73);
    cursor:pointer;
}



@media(max-width:1045px){
    .ajustado-pagina{
        position: relative;
        overflow: hidden;
    }
    .contenido{
        width: 100%;
        transition: filter 0.3s;
    }
    .super-posicion{
        top:0;
        left:0;
        width:100%;
        z-index:90;
        height:100%;
        position:fixed;
        backdrop-filter:blur(10px);
        background-color:rgba(255, 255, 255, 0.742);

        animation:fadeIn ease-in-out 0.3s;
    }
    .barra-lateral{
        position: fixed;
        transform: translateX(-100%);
        transition: transform ease-in-out 0.3s;
        width:280px;
        max-width:80%;
        top:0;
        left:0;
        height:100%;
        z-index: 100;
    }
    .barra-fija {
        transform: translateX(0);
    }
    .activar-barra{
        visibility: visible;
        position: relative;
        left:5px;
        top:5px;
        height:40px;
        width:40px;
        z-index: 91;
    }
}

@media(max-width:685px){
    .contenedor-contenido{
        padding:0;
    }
}